In [11]:
import pandas as pd
import numpy as np

Use the code below to generate the DataFrames. `market_data` contains fake market data. In finance, the market is available during the trading days (business days). `alternative_data` contains fake alternative data from social media. This data is available every day. However, for some reason the Data Engineer lost the last 15 days of alternative data.
   ```python
   # generate days
   all_dates = pd.date_range('2021-01-01', '2021-12-15')
   business_dates = pd.bdate_range('2021-01-01', '2021-12-31')

   # generate tickers
   tickers = ['AAPL', 'FB', 'GE', 'AMZN', 'DAI']

   # create indexes
   index_alt = pd.MultiIndex.from_product([all_dates, tickers], names=['Date', 'Ticker'])
   index = pd.MultiIndex.from_product([business_dates, tickers], names=['Date', 'Ticker'])

   # create DFs
   market_data = pd.DataFrame(index=index,
                           data=np.random.randn(len(index), 3),
                           columns=['Open','Close','Close_Adjusted'])

   alternative_data = pd.DataFrame(index=index_alt,
                                   data=np.random.randn(len(index_alt), 2),
                                   columns=['Twitter','Reddit'])
   ```

In [12]:
# generate days
all_dates = pd.date_range('2021-01-01', '2021-12-15')
business_dates = pd.bdate_range('2021-01-01', '2021-12-31')

# generate tickers
tickers = ['AAPL', 'FB', 'GE', 'AMZN', 'DAI']

# create indexes
index_alt = pd.MultiIndex.from_product([all_dates, tickers], names=['Date', 'Ticker'])
index = pd.MultiIndex.from_product([business_dates, tickers], names=['Date', 'Ticker'])

# create DFs
market_data = pd.DataFrame(index=index,
                        data=np.random.randn(len(index), 3),
                        columns=['Open','Close','Close_Adjusted'])

alternative_data = pd.DataFrame(index=index_alt,
                                data=np.random.randn(len(index_alt), 2),
                                columns=['Twitter','Reddit'])

1. Using `market_data` as the reference, merge `alternative_data` on `market_data`
   
`reset_index` is not allowed for this question

In [29]:
merged = pd.merge(market_data, alternative_data, on=["Date","Ticker"] ,how='left')
merged

                       Open     Close  Close_Adjusted   Twitter    Reddit
Date       Ticker
2021-01-01 AAPL   -0.734752  0.849462        0.531347  0.065332 -0.309168
           FB      0.300308 -0.363664        1.302903  0.635518  0.148299
           GE      0.910893  1.373660       -0.736739  0.389570 -0.530227
           AMZN   -0.735460  1.169104       -0.196306 -1.157397  0.509144
           DAI    -1.094931 -1.707090        0.818044  0.048756  0.480555
...                     ...       ...             ...       ...       ...
2021-12-31 AAPL   -0.587482 -0.831676       -0.342049       NaN       NaN
           FB      1.140075 -0.169304       -0.010677       NaN       NaN
           GE     -1.680836 -0.791766       -0.783158       NaN       NaN
           AMZN   -0.766608 -1.375580        1.196579       NaN       NaN
           DAI     0.607118 -1.374144        0.572566       NaN       NaN

[1305 rows x 5 columns]

2. Fill missing values with 0

- https://medium.com/swlh/merging-dataframes-with-pandas-pd-merge-7764c7e2d46d

In [34]:
filled_df = merged
filled_df.fillna(0, inplace=True)
filled_df.sum().sum() == merged.sum().sum()

np.True_