In [4]:
import numpy as np
import pandas as pd

1.  Create a function that uses `pandas.DataFrame.clip` to replace extreme values using given percentiles. The values that are greater than the upper percentile 80% are replaced by the percentile 80%. The values that are smaller than the lower percentile 20% are replaced by the percentile 20%. This process, which corrects outliers, is called **winsorizing**.
    We recommend using NumPy to compute the percentiles to make sure we used the same default parameters.

```python
            def winsorize(df, quantiles):
                """
                    df: pd.DataFrame
                    quantiles: list
                        ex: [0.05, 0.95]
                """
                #TODO
                return
```

Here is what the function should output:

```python
            df = pd.DataFrame(range(1,11), columns=['sequence'])
            print(winsorize(df, [0.20, 0.80]).to_markdown())

```

        |    |   sequence |
        |---:|-----------:|
        |  0 |        2.8 |
        |  1 |        2.8 |
        |  2 |        3   |
        |  3 |        4   |
        |  4 |        5   |
        |  5 |        6   |
        |  6 |        7   |
        |  7 |        8   |
        |  8 |        8.2 |
        |  9 |        8.2 |

In [5]:
def winsorize(df, quantiles):
    lower_bound = np.percentile(df, quantiles[0] * 100)
    upper_bound = np.percentile(df, quantiles[1] * 100)
    return df.clip(lower=lower_bound, upper=upper_bound)

In [6]:
df = pd.DataFrame(range(1,11), columns=['sequence'])
print(winsorize(df, [0.20, 0.80]))

   sequence
0       2.8
1       2.8
2       3.0
3       4.0
4       5.0
5       6.0
6       7.0
7       8.0
8       8.2
9       8.2

2.  Now we consider that each value belongs to a group. The goal is to apply the **winsorizing to each group**. In this question we use winsorizing values that are common: `[0.05,0.95]` as percentiles. Here is the new data set:

    ```python
    groups = np.concatenate([np.ones(10), np.ones(10)+1,  np.ones(10)+2, np.ones(10)+3, np.ones(10)+4])

    df = pd.DataFrame(data= zip(groups,
                                range(1,51)),
                    columns=["group", "sequence"])
    ```

    The expected output (first rows) is:

    |     | sequence |
    | --: | -------: |
    |   0 |     1.45 |
    |   1 |        2 |
    |   2 |        3 |
    |   3 |        4 |
    |   4 |        5 |
    |   5 |        6 |
    |   6 |        7 |
    |   7 |        8 |
    |   8 |        9 |
    |   9 |     9.55 |
    |  10 |    11.45 |

In [18]:
groups = np.concatenate([np.ones(10), np.ones(10)+1,  np.ones(10)+2, np.ones(10)+3, np.ones(10)+4])

df = pd.DataFrame(data= zip(groups,
                            range(1,51)),
                columns=["group", "sequence"])
result = df.groupby('group').apply(lambda x: winsorize(x, [0.05, 0.95]), include_groups=False)
result.reset_index(level=0, drop=True)

    sequence
0       1.45
1       2.00
2       3.00
3       4.00
4       5.00
5       6.00
6       7.00
7       8.00
8       9.00
9       9.55
10     11.45
11     12.00
12     13.00
13     14.00
14     15.00
15     16.00
16     17.00
17     18.00
18     19.00
19     19.55
20     21.45
21     22.00
22     23.00
23     24.00
24     25.00
25     26.00
26     27.00
27     28.00
28     29.00
29     29.55
30     31.45
31     32.00
32     33.00
33     34.00
34     35.00
35     36.00
36     37.00
37     38.00
38     39.00
39     39.55
40     41.45
41     42.00
42     43.00
43     44.00
44     45.00
45     46.00
46     47.00
47     48.00
48     49.00
49     49.55