In [1]:
import pandas as pd

Here are the two DataFrames to concatenate:

```python
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 1], ['d', 2]],
                   columns=['letter', 'number'])
```

1. Concatenate these two DataFrames on index axis and reset the index. The index of the output should be `RangeIndex(start=0, stop=4, step=1)`. **Do not change the index manually**.

In [2]:
df1 = pd.DataFrame([['a', 1], ['b', 2]],
                   columns=['letter', 'number'])
df2 = pd.DataFrame([['c', 1], ['d', 2]],
                   columns=['letter', 'number'])

In [7]:
concat_vertical = pd.concat([df1, df2], axis=0, ignore_index=True)
concat_vertical.head()

  letter  number
0      a       1
1      b       2
2      c       1
3      d       2